.DS_Store
.idea/
.vscode/
.env
.env.production

/backend/.env.local
/backend/.phpunit.result.cache
/backend/config/jwt/private.pem
/backend/config/jwt/public.pem
/backend/public/uploads/*
!/backend/public/uploads/.gitkeep
!/backend/public/uploads/fundraisers/
/backend/public/uploads/fundraisers/*
!/backend/public/uploads/fundraisers/.gitkeep
/backend/var/
/backend/vendor/

/frontend/.env.local
/frontend/dist/
/frontend/node_modules/
/infra/nginx/.htpasswd
/infra/nginx/certs/*
!/infra/nginx/certs/.gitkeep
