APP_ENV=dev
APP_SECRET=change-me
APP_BASE_URL=http://localhost
FRONTEND_BASE_URL=http://localhost
DATABASE_URL=postgresql://cagnotte:cagnotte@db:5432/cagnotte?serverVersion=16&charset=utf8
MAILER_DSN=smtp://mailpit:1025
MAIL_FROM_ADDRESS=no-reply@sunu-cagnotte.org
MAIL_FROM_NAME="Sunu Cagnotte"
CONTACT_RECIPIENT=ndiageze@gmail.com
JWT_PASSPHRASE=change-this-passphrase
PAYMENT_PROVIDER=paytech
PAYTECH_MODE=test
PAYTECH_API_KEY=test-api-key
PAYTECH_API_SECRET=test-api-secret
PAYTECH_TARGET_PAYMENT="Orange Money, Wave, Free Money, Carte Bancaire"
